<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Link rel="stylesheet" href="../static/menu.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
</head>
<body>

    <nav>
        <div class="logo">
          <a href="#">Quick Bite</a>
        </div>
        <ul class="nav-links">
          <li><a href="./home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="auth-buttons">
          <button class="login-btn">Login</button>
          <button class="signup-btn">Signup</button>
        </div>
      </nav>

      <section class="menu">
        <div class="menu-container">
          <h2>Menu</h2>
          <h4>After Selctecting the dishes please click on Order Now at bottom</h4>
          <div class="dish-list"></div>
          <button class="cta-btn">Order Now</button>
        </div>
      </section>
    
      <footer>
        <p>&copy; 2023 Food Delivery App. All rights reserved.</p>
      </footer>
    
    
</body>
<script src="../static/menu.js"></script>
  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
</html>