<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Link rel="stylesheet" href="../static/orders.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
</head>
<body>
    <nav>
        <div class="logo">
          <a href="#">Quick Bite</a>
        </div>
        <ul class="nav-links">
          <li><a href="./home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        
    </nav>

    <table>
        <thead>
          <tr>
            <th> Order ID</th>
            <th>Orders</th>
            <th>Status</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="ordersTableBody">
       
        </tbody>
      </table>

    <footer>
        <p>&copy; 2023 Food Delivery App. All rights reserved.</p>
      </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="../static/orders.js"></script>
</html>